#about {
	background-color: var(--floating-block-background-color);
}

@media (min-width: 768px) {
	@supports (display: grid) {
		#about {
			display: grid;
			grid-template-areas: var(--grid-template-areas);

			& > h2 {
				grid-area: center;
				box-sizing: border-box;
				padding: 0.5em;
				text-align: right;
			}

			& > div {
				grid-area: right;
				box-sizing: border-box;
				padding: 0.5em;
			}
		}
	}
}
