/** @format */

section.contact > div {
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

form {
	border: 1px solid #ddd;
	padding: 2em;
	margin: 2em;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
}

.form-controls {
	flex-grow: 1;
}

form > label {
	margin-bottom: 1em;
	width: 100%;
}

label input,
label textarea {
	display: block;
	box-sizing: border-box;
	width: 100%;
	box-shadow: none;
}

form.unsuccessful [required] {
	box-shadow: 0 0 1.5px 1px red;
}

.lead,
address {
	text-align: center;
}
