footer {
	padding: 1em;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	& .mcw-logo {
		max-width: 100%;
	}
}

@supports (display: grid) {

	footer {
		display: grid;
		grid-gap: 2em;
		grid-template-columns: var(--grid-template-columns);
	}
}
