footer {
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
	justify-content: space-around;

	& .mcw-logo {
		max-width: 100%;
	}
}

@supports (display: grid) {

	footer {
		font-size: 0.8em;
		display: grid;
		padding: 2em 0;
		margin: 0;
		grid-template-areas: var(--grid-template-areas);
		grid-template-columns: var(--grid-template-columns);
		align-items: center;

		& > div {
			padding: 1em;
		}

		& .contact {
			grid-area: right;

			& a {
				text-decoration: none;

				&, &:visited {
					color: var(--text-color);
				}

				&:hover {
					text-decoration: underline;
				}
			}

			& address {
				padding: 0;
				margin: 0.5em 0;
				font-style: normal;
				text-align: left;
			}
		}
	}
}
