/** @format */

header {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-start;
	background-color: var(--header-background-color);
	font-weight: 300;
	padding: 4em 6em 4em 2em;

	& h1 {
		font-size: 5em;
		margin: 0;
		color: white;
	}

	& a {
		text-decoration: none;

		&,
		&:visited {
			color: var(--link-color);
		}
	}

	& nav ul {
		font-family: var(--heading-font-family);
		font-weight: var(--heading-font-weight);
		text-transform: var(--heading-text-transform);
		font-size: 1.5em;
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;

		& li {
			list-style: none;

			& ~ li {
				&:before {
					font-size: 0.9em;
					color: var(--link-color);
					opacity: 0.8;
					content: '|';
					padding: 0 0.75em;
					vertical-align: top;
				}
			}

			& a {
				position: relative;
				overflow: hidden;

				&:before {
					content: '';
					position: absolute;
					left: 51%;
					right: 51%;
					bottom: -0.5em;
					background: var(--link-color);
					height: 1px;
					transition-property: left, right;
					transition-duration: 0.1s;
					transition-timing-function: ease-out;
				}

				&:hover,
				&:focus,
				&:active {
					&:before {
						left: 0;
						right: 0;
					}
				}
			}
		}
	}
}
