/** @format */

header#site-header {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	background-color: var(--header-background-color);
	padding: 1em;
	font-size: 2em;

	& h1 {
		font-size: 2.25em;
		margin: 0;
		word-break: break-word;
		hyphens: auto;
	}

	& a {
		text-decoration: none;

		&,
		&:visited {
			color: var(--link-color);
		}
	}

	& nav ul {
		text-transform: var(--heading-text-transform);
		font-size: 1em;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		margin: 0 -0.25rem;
		padding: 0;

		& li {
			list-style: none;
			margin: 0.5rem;

			& a {
				position: relative;
				overflow: hidden;

				&:before {
					content: '';
					position: absolute;
					left: 51%;
					right: 51%;
					bottom: -0.5em;
					background: var(--link-color);
					height: 1px;
					transition-property: left, right;
					transition-duration: 0.1s;
					transition-timing-function: ease-out;
				}

				&:hover,
				&:focus,
				&:active {
					&:before {
						left: 0;
						right: 0;
					}
				}
			}
		}
	}
}

@media (min-width: 510px) {
	header#site-header {
		& h1 {
			font-size: 2.5;
		}
	}
}

@media (min-width: 600px) {
	header#site-header {
		padding: 2em;

		& h1 {
		}
	}
}

@media (min-width: 800px) {
	header#site-header {
		& nav ul {
			flex-direction: row;

			& li {
				& ~ li {
					&:before {
						font-size: 0.9em;
						color: var(--link-color);
						opacity: 0.8;
						content: '|';
						padding-right: 1rem;
						vertical-align: top;
					}
				}
			}
		}
	}
}

@media (min-width: 1000px) {
	header#site-header {
		padding: 3em 2em;
		font-size: 2.5em;
	}
}

@media (min-width: 1200px) {
	header#site-header {
		font-size: 2.75em;
	}
}
