/** @format */

header {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: var(--header-background-color);
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 300;

	& a {
		text-decoration: none;
		opacity: 0.8;

		&,
		&:visited {
			color: #fafafa;
		}

		&:hover,
		&:focus {
			opacity: 1;
		}

		&.active {
			opacity: 0.6;
			cursor: normal;
			ponter-events: none;
		}
	}

	& > a {
		font-size: 1.5em;
		margin: 0.5em;
	}

	& nav ul {
		display: flex;
		flex-wrap: wrap;
		margin: 0;
		padding: 0;

		& li {
			margin: 0.5em;
			list-style: none;
		}
	}
}
