body #layout.home {
	background: linear-gradient(
		to right,
		var(--background-color) calc(50% - var(--background-stripe)),
		var(--stripe-color) calc(50% - var(--background-stripe)),
		var(--stripe-color) 50%,
		var(--background-color) 50%
	);
}

main.home {
	padding: 0;
}

main.home > section {
	--home-section-padding-vertical: 3em;
	--home-section-padding-horizontal: 1em;

	margin: 3em 0;
	padding: var(--home-section-padding-vertical) var(--home-section-padding-horizontal);
}

#layout.home {
	& > .hero {
		align-items: flex-start;
	}

	& header#site-header {
		align-items: flex-start;
	}

	& h1 {
		color: white;
	}
}

@media (min-width: 400px) {
	main.home > section {
		--home-section-padding-horizontal: 2em;
	}
}

@media (min-width: 600px) {
	main.home > section {
		--home-section-padding-vertical: 5em;
		--home-section-padding-horizontal: 3em;

		margin: 4em 0;
	}
}

@media (min-width: 768px) {
	@supports (display: grid) {
		main.home > section {
			grid-template-areas: var(--grid-template-areas);
			grid-template-columns: var(--grid-template-columns);
			justify-content: center;
		}
	}
}

