body {
	background: linear-gradient(
		to right,
		var(--background-color) calc(50% - var(--background-stripe)),
		var(--stripe-color) calc(50% - var(--background-stripe)),
		var(--stripe-color) 50%,
		var(--background-color) 50%
	);
}

main > section {
	margin: 4em 0;
	padding: 5em 3em;
}

@media (min-width: 768px) {
	@supports (display: grid) {
		main > section {
			grid-template-areas: var(--grid-template-areas);
			grid-template-columns: var(--grid-template-columns);
			justify-content: center;
		}
	}
}

header .mcw-logo {
	position: absolute;
	top: 1.5em;
	left: 1.5em;
	max-height: 6em;
	width: auto;
	max-width: 100%;
}
