main.project {
	font-size: 1em;

	& .back-container {
		padding: 4em 0;
		text-align: center;
	}

	& .lead {
		box-sizing: border-box;
		font-size: 2em;

		& p {
			font-family: var(--accent-font-family);
			color: var(--primary-color);
			text-transform: lowercase;
		}
	}
}

@media (min-width: 768px) {
	main.project {
		& article {
			display: flex;
			flex-direction: row;
			align-items: center;
			width: 100%;

			& .lead {
				padding-right: 2em;
				width: 50%;
				flex-shrink: 0;
			}
		}
	}
}
