section.projects {
	display: flex;
	flex-direction: row;

	& > section {
		flex-basis: 30%;
	}
}

.projects-list {
	--list-item-size: 125px;
	--list-item-background: 48, 48, 48;

	flex-basis: 70%;
	display: flex;
	flex-direction: column;
}

.project-list-item {
	list-style: none;
	height: var(--list-item-size);
	padding: 0;

	& a {
		font-family: var(--heading-font-family);
		font-weight: var(--heading-font-weight);
		text-transform: var(--heading-text-transform);
		font-size: 1.25em;

		box-sizing: border-box;
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		padding: 0.5em;
		background-color: rgba(var(--list-item-background), 0.7);
		transition-property: background-color;
		transition-duration: 0.05s;
		transition-timing-function: ease-in;
		text-decoration: none;

		&, &:visited {
			color: var(--link-color);
		}

		&:hover,
		&:focus,
		&:active {
			background-color: rgba(var(--list-item-background), 0.8);
		}

		& span {

		}
	}

	& ~ .project-list-item {
		margin-top: 1em;
	}
}

@supports (display: grid) {
	section.projects {
		display: grid;
		grid-template-areas: 'intro list list';

		& > section {
			grid-area: intro;
		}

		& .projects-list {
			grid-area: list;
		}
	}
}
